*{
 margin: 0px;
}

body{
  background-image: url('../img/woman/guide4.png');
  padding: 0px;
  margin: 0px;
  background-color: grey;
  height: 100vh;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  }

  .imageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin: 10% 10% 0 10%;
    width: 25%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  .image>a>img {
    width: 100%;
    transition: all 1s ease-in-out;
  }

  .image>a>img:hover{
    transform: scale(1.5);
  }

  .button{
    bottom: 3%;
    position: absolute;
    z-index: 999;
  }

  /* .titleContainer{
    width: 100vw;
    height: 80vh;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
  } */

  .title{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  left: 0%;
  top: 0%;
  font-weight: 600;
  }

  .title2{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  left: 0%;
  top: 10%;
  font-weight: 600;
  }

  .title3{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  left: 0%;
  top: 20%;
  font-weight: 600;
  }

  .title4{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  right: 0%;
  top: 30%;
  font-weight: 600;
  }

  .title5{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  right: 0%;
  top: 40%;
  font-weight: 600;
  }

  .title6{
  font-family:'Futura', sans-serif;
  font-size: 120px;
  color: white;
  position: absolute;
  right: 0%;
  top: 50%;
  font-weight: 600;
  }

  .button{
  font-family: 'Futura', sans-serif;
  font-size:  60px;
  font-weight: 600;
  color:white;
}

/* .button:nth-of-type(2){
  position:absolute;
  top: 85%;
  left:20%;
} */

/* .button:nth-of-type(3){
  position:absolute;
  top:85%;
  left:68%
} */

.image>img{
  width: 400px;
  transition: all 1s ease-in-out;
}

.image:hover>img{
  transform:scale(1.5);
}

/* .image:nth-of-type(1)>img{
  position:absolute;
  top: 30%;
  left:15%;
}

.image:nth-of-type(2)>img{
  position:absolute;
  top: 30%;
  left: 60%;
} */
