*{
  margin: 0px;
}

body {
  background-image: url('../img/woman/guide2.png');
  padding: 0px;
  margin: 0px;
  background-color: grey;
  height: 100vh;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}

h3 {
  position:absolute;
  z-index: 9999;
  font-family: 'Futura', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: white;
  top: 6%;
  left: 30%;
}

#container{
  z-index:999;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 500px;
  height: 300px;
  /* outline: 5px solid blue; */
  cursor: pointer;
}

p{
  z-index:1000;
  background-color: #454545;
  position:absolute;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
  color: white;
  width: 400px;
  height: 100px;
  padding:20px;
  text-align: center;
  background-image: url('../img/woman/guide4.png')
  /* display:none;
  pointer-events:none; */
}
#num1 {
  z-index:1000;
  background-color: #454545;
  position:absolute;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
  color: white;
  width: 400px;
  height: 100px;
  padding:20px;
  text-align: center;
  background-image: url('../img/woman/guide4.png')
  top:0%;
  right:0%;
  width: 400px;
  height: 100px;
}

#num2{
  z-index:1000;
  background-color: #454545;
  position:absolute;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
  color: white;
  width: 400px;
  height: 100px;
  padding:20px;
  text-align: center;
  background-image: url('../img/woman/guide4.png')
  top: 0%;
  left:0%;
}

/* p:hover{
  display: show;
} */

.MagicScroll{
  z-index:0;
  height: 100vh;
  transition: all 1s ease-in-out;
}

.MagicScroll>div:nth-of-type(1) {
  visibility: hidden !important;
}

.MagicScroll>span {
  visibility: hidden !important;
}

.img {
  position:relative;
  transition: all 1s ease-in-out;
}

.img:hover {
  transform: scale(2);
}

.img:nth-child(3n+1){
  position: relative;
  width:30%;
}

.img:nth-child(3n+2){
  position: relative;
  width: 20%;
}

.img:nth-child(3n+3){
  position: relative;
  width:30%;
}
